tensorflow
jupyter
ipdb
google-api-python-client
oauth2client
requests
sh
notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability